snippet runner "Runner" b
if (import.meta.url === \`file://${process.argv[1]}\`) {
  Runner.run()
}
endsnippet

snippet pv-component "PV Component" b
export const args = {
  label: "Petite Vue Rocks!",
  handleClick: () => console.log("Click!"),
}

const Component = props => {
  const { label = args.label, handleClick = args.handleClick } = props || {}

  const $template = /* HTML */ \`
    <div class="">
      <div
        class="p-2 bg-yellow-300 rounded cp select-none"
        @click="handleClick"
      >
        {{ label }}
      </div>
    </div>
  \`

  return { $template, label, handleClick }
}

export default Component
endsnippet


snippet vercel_api_hanlder "Vercel API handler" b
export default function handler(req, res) {
  // Set CORS headers
  res.setHeader('Access-Control-Allow-Origin', '*');
  res.setHeader('Access-Control-Allow-Methods', 'GET, POST, PUT, DELETE, OPTIONS');
  res.setHeader('Access-Control-Allow-Headers', 'Content-Type, Authorization');
  res.setHeader('Access-Control-Allow-Credentials', 'true');

  // Handle preflight requests (OPTIONS method)
  if (req.method === 'OPTIONS') {
    res.status(204).end();
    return;
  }

  res.status(200).json({ status: "CORS OKAY"});
}
endsnippet


snippet divblock "div block" b
<div class="">
$0
</div>
endsnippet

snippet divinline "inline div" b
<div class=""></div>
endsnippet
