snippet reactComponent "Create React Component" b
import React from 'react';

export default class ${1:CLASS_NAME} extends React.Component {
	render() {
		return(
			<div>
				${2}
			</div>
		);
	}
}
endsnippet

snippet es6Constructor "Constructor | es6" b
constructor() {
	super();
	${0}
}
endsnippet
