snippet ---
---
layout: $1
title: $2
categories: $3
excerpt: $4
---

$0
endsnippet

snippet section_markdown
<section data-markdown>
<script type="text/template">
$0
</script>
</section>
endsnippet

snippet pre_code
<pre><code>
\`\`\` $1
$0
\`\`\`
</code></pre>
endsnippet

snippet vertical_slides
<div class="reveal">
    <div class="slides">
        <section>
					$0
				</section>
		</div>
</div>
endsnippet
