snippet ---
---
layout: $1
title: $2
categories: $3
excerpt: $4
---

$0
endsnippet

snippet section_markdown
<section data-markdown>
$0
</section>
endsnippet

snippet pre_code
<pre><code>
\`\`\` $1
$0
\`\`\`
</code></pre>
endsnippet
